src/main/mule/tesh-trade-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="tesh-trade-api-config" api="resource::cb7f1576-401d-48cc-805d-5526087caeaa:tesh-trade-api:1.0.1:raml:zip:tesh-trade-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd9ed87d-9871-4c64-ade6-fb7d6a96aa07">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="tesh-trade-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tesh-trade-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <flow-ref doc:name="set-error-response-subFlow" doc:id="fe360a74-52e0-45ce-9600-bc72f13ac6a9" name="set-error-response-subFlow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <flow-ref doc:name="set-error-response-subFlow" doc:id="cd65e4bc-2959-4a3a-a9d2-6f3a28146f96" name="set-error-response-subFlow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <flow-ref doc:name="set-error-response-subFlow" doc:id="9ebb044f-73ee-4d8f-8240-20a6c328baae" name="set-error-response-subFlow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="31607d76-f3ec-4eba-9e66-19561081900e">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="set-error-response-subFlow" doc:id="8330fc74-9650-49d0-9dc1-207860ffb872" name="set-error-response-subFlow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d9266b91-ad2e-418c-bb98-7703940ade9c">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="set-error-response-subFlow" doc:id="bc830f2e-306e-48ca-8c7e-018c0fcfd342" name="set-error-response-subFlow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="4da232e4-1b4a-48aa-89b7-3aa511877e17">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="set-error-response-subFlow" doc:id="1e8d5739-6703-4ca0-82cc-39e29b74a64f" name="set-error-response-subFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="tesh-trade-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tesh-trade-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b6765e14-5d96-4bfe-926a-97bc3fd2eb5e">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="set-error-response-subFlow" doc:id="74ab5bd1-f493-43e1-bb81-9d43e9220615" name="set-error-response-subFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\trade\file:application\json:tesh-trade-api-config">
		<flow-ref doc:name="process-trade-to-file-subFlow" doc:id="848dbf4a-5569-463e-bf82-b78fc8d1a69c" name="process-trade-to-file-subFlow"/>
    </flow>
    <flow name="post:\trade\ods:application\json:tesh-trade-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "trade processed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
